@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Playfair Display";
}

::-webkit-scrollbar {
  width: 0px;
}

.ql-container {
  height: 320px;
  border-bottom: 1px solid gray;
}

.single {
  all: inherit !important;
  background: white !important;
}

.single > * {
  all: revert !important;
  margin: 0 !important;
  padding: 0 !important;
}

.single ul,
.single ol {
  margin-left: 20px !important;
}

.single a {
  font-weight: bold;
  color: blue;
}

.single h1 {
  font-size: 1.5em !important;
}
.single h2 {
  font-size: 1.17em !important;
}
.single h3 {
  font-size: 1.05em !important;
}
